.with-overlay::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid white;
    display: none;
}

#modalDownload > div {
    max-width: 80rem;
    background: transparent;
    padding: 0;
}
.modal > div {
    background: white;
    padding: 2.4rem;
    width: 100%;
    max-width: 56rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
    max-height: calc(100vh - 4.8rem);
    border-radius: 1.6rem;
}
.modal .close {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 4.8rem;
    height: 4.8rem;
    z-index: 99999;
    cursor: pointer !important;
    font-size: 2rem;
}
#modalDownload > div div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#modalDownload > div div:last-child div {
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    gap: 2.4rem;
}
.freeDownload {
    border-right: 1px solid #80808029;
    border-radius: 1.6rem 0 0 1.6rem;
    background: whitesmoke;
    flex-basis: 40%;
}
.freeDownload, .proPlan {
    background: white;
    padding: 2.4rem;
    flex-direction: column;
    align-items: baseline;
    gap: 2.4rem;
    display: flex;
}
#modalDownload > div div:last-child div {
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    gap: 2.4rem;
}
#modalDownload > div div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.proPlan {
    flex-basis: 60%;
    border-radius: 1.6rem;
    overflow: hidden;
}
#modalDownload > div div:last-child div {
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    gap: 2.4rem;
}
#modalDownload > div div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#modalDownload .btn-primary {
    margin-left: 0;
    width: 100%;
}
button, #modalDownload .btn-primary {
    line-height: 4rem;
    cursor: pointer;
    user-select: none;
    padding: 0rem 1rem;
    height: 4rem;
    border: none;
    position: relative;
    font-size: 1.4rem;
    border-radius: 0.8rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: .6rem;
    background: transparent;
    white-space: nowrap;
}
.btn-primary, .btn-secondary, .btn-edit span {
    transition: .2s ease;
}
.btn-primary {
    color: var(--text-color) !important;
    background: var(--secondary-color) !important;
    margin-left: 1.2rem;
}